@model IEnumerable<OnlineLibrary.Models.AuthorModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
    Total Record Count : @ViewBag.Count
    Current Page : @ViewBag.Currentpage
    Total Pages : @ViewBag.TotalPages
    Total Pages computed on view : @(ViewBag.Count / ViewBag.PageSize)
</div>
<div>
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        @Html.ActionLink(i.ToString(), "Index", "Authors", new { page = i }, null)
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
